In [9]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import matplotlib.pyplot as plt
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['items.csv', 'item_categories.csv', 'sales_train.csv', 'shops.csv', 'test.csv']

**Problem defintion**
We are asking you to predict total sales for every product and store in the next month. By solving this competition you will be able to apply and enhance your data science skills.
"Store in the next month" is vage. I intepret it to mean that we should store a number in a column and a row, where row is the product id and column is the next month.

In [10]:
items_df = pd.read_csv('../input/items.csv')
test_df = pd.read_csv('../input/test.csv')
sales_train_df = pd.read_csv('../input/sales_train.csv')
item_categories_df = pd.read_csv('../input/item_categories.csv')
shops_df = pd.read_csv('../input/shops.csv')
test_df = pd.read_csv('../input/test.csv')

## Describe the data ##
sales_train:   
    date:date  
    date_block_num:[0-33 ]  
    shop_id:integer describing the shop[0,59]   
    item_id: has 21807 uniqe values  
    ** item_cnt_day **: spans nont contonius from -22 to 2169  . ** What means negative numbers ? ** We can try to see how many uniqie items are returned.

In [11]:
print(sales_train_df.columns.values)
print(sales_train_df.head())
print(sales_train_df.tail())
print(sales_train_df.info())
print(sales_train_df.describe())
print(len(np.unique(sales_train_df[['item_id']])))
print(len(np.unique(sales_train_df[['shop_id']])))
np.set_printoptions(precision=0, suppress=True)
print( 'uniqe cnt_day' + str(np.unique(sales_train_df[['item_cnt_day']])))
returned_items = sales_train_df.Where
plt.plot(sales_train_df[[wh]]

['date' 'date_block_num' 'shop_id' 'item_id' 'item_price' 'item_cnt_day']
         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
               date  date_block_num  shop_id  item_id  item_price  \
2935844  10.10.2015              33       25     7409       299.0
2935845  09.10.2015              33       25     7460       299.0
2935846  14.10.2015              33       25     7459       349.0
2935847  22.10.2015              33       25     7440       299.0
2935848  03.10.2015              33       25     7460       299.0

         item_cnt_day
2935844           1.0
2935845           1.0
2935846           1.0
2935847           1.0
2935848           1.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None
       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03
21807
60
uniqe cnt_day[ -22.  -16.   -9.   -6.   -5.   -4.   -3.   -2.   -1.    1.    2.    3.
    4.    5.    6.    7.    8.    9.   10.   11.   12.   13.   14.   15.
   16.   17.   18.   19.   20.   21.   22.   23.   24.   25.   26.   27.
   28.   29.   30.   31.   32.   33.   34.   35.   36.   37.   38.   39.
   40.   41.   42.   43.   44.   45.   46.   47.   48.   49.   50.   51.
   52.   53.   54.   55.   56.   57.   58.   59.   60.   61.   62.   63.
   64.   65.   66.   67.   68.   69.   70.   71.   72.   73.   74.   75.
   76.   77.   78.   79.   80.   81.   82.   83.   84.   85.   86.   87.
   88.   89.   90.   91.   92.   93.   95.   96.   97.   98.   99.  100.
  101.  102.  103.  104.  105.  106.  107.  108.  109.  110.  111.  112.
  113.  114.  115.  116.  117.  118.  121.  124.  126.  127.  128.  129.
  130.  131.  132.  133.  134.  135.  138.  139.  140.  142.  145.  146.
  147.  148.  149.  150.  151.  153.  154.  156.  157.  161.  163.  164.
  167.  168.  171.  179.  187.  194.  195.  200.  205.  207.  217.  222.
  230.  231.  240.  242.  251.  255.  264.  288.  299.  300.  313.  325.
  343.  401.  405.  412.  480.  500.  501.  502.  504.  508.  512.  533.
  539.  624.  637.  669. 1000. 2169.]

KeyError: "[''] not in index"

## Items data description ##  
We have about 22170 different items in 84 different categories  
** item_category_id **: [0-83]  
** item_name **: each line unique => 22170 different values  
** item_id **: each line unique   => [0 - 22169]

In [12]:
print(items_df.columns.values)
print(items_df.head())
print(items_df.tail())
print(items_df.info())
print(items_df.describe())
print(items_df.describe(include=['O']))
print( len(np.unique(items_df[['item_category_id']])))
print( np.unique(items_df[['item_category_id']]))

print( len(np.unique(items_df[['item_name']])))
print( len(np.unique(items_df[['item_id']])))
print( np.min(items_df[['item_id']]))
print( np.max(items_df[['item_id']]))

['item_name' 'item_id' 'item_category_id']
                                           item_name  item_id  \
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0
1  !ABBYY FineReader 12 Professional Edition Full...        1
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3
4        ***КОРОБКА (СТЕКЛО)                       D        4

   item_category_id
0                40
1                76
2                40
3                40
4                40
                                               item_name  item_id  \
22165             Ядерный титбит 2 [PC, Цифровая версия]    22165
22166    Язык запросов 1С:Предприятия  [Цифровая версия]    22166
22167  Язык запросов 1С:Предприятия 8 (+CD). Хрустале...    22167
22168                                Яйцо для Little Inu    22168
22169                      Яйцо дракона (Игра престолов)    22169

       item_category_id
22165                31
22166                54
22167                49
22168                62
22169                69
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None
           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000
                                                item_name
count                                               22170
unique                                              22170
top     English today. Интерактивный словарь английско...
freq                                                    1
84
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83]
22170
22170
item_id    0
dtype: int64
item_id    22169
dtype: int64

## items_categories 
Names of the categories

In [13]:
print(item_categories_df.columns.values)
print(item_categories_df.head())
print(item_categories_df.tail())
print(item_categories_df.info())
print(item_categories_df.describe())
#print(len(np.unique(item_categories_df[['item_id']])))
#print(len(np.unique(item_categories_df[['shop_id']])))

['item_category_name' 'item_category_id']
        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4
           item_category_name  item_category_id
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None
       item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000

## shops ##  
Contains names of the shops  
Maybe there is something with the name of the shops, but hard to tell.  
Maybe we can sort them by which is most similare

In [14]:
print(shops_df.columns.values)
print(shops_df.head())
print(shops_df.tail())
print(shops_df.info())
print(shops_df.describe())
#print(len(np.unique(shops_df[['item_id']])))
#print(len(np.unique(shops_df[['shop_id']])))

['shop_name' 'shop_id']
                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4
                   shop_name  shop_id
55  Цифровой склад 1С-Онлайн       55
56      Чехов ТРЦ "Карнавал"       56
57   Якутск Орджоникидзе, 56       57
58   Якутск ТЦ "Центральный"       58
59    Ярославль ТЦ "Альтаир"       59
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB
None
         shop_id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000

## test table ##  
Is this a list of items sold ?

In [15]:
print(test_df.columns.values)
print(test_df.head())
print(test_df.tail())
print(test_df.info())
print(test_df.describe())

['ID' 'shop_id' 'item_id']
   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268
            ID  shop_id  item_id
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
ID         214200 non-null int64
shop_id    214200 non-null int64
item_id    214200 non-null int64
dtypes: int64(3)
memory usage: 4.9 MB
None
                  ID        shop_id        item_id
count  214200.000000  214200.000000  214200.000000
mean   107099.500000      31.642857   11019.398627
std     61834.358168      17.561933    6252.644590
min         0.000000       2.000000      30.000000
25%     53549.750000      16.000000    5381.500000
50%    107099.500000      34.500000   11203.000000
75%    160649.250000      47.000000   16071.500000
max    214199.000000      59.000000   22167.000000

## Summary of tables ##  
Seems like sales_train is the only with valuable data.  
Basically we have item, date and number of items sold and in which shops.
### test table ###
This table 

### Quality of data ###
There are no missing data as in Titanic, except we might miss some dates.  
#### Outliers ####  
We can check for outliers by looking at histogram for each series, and removing those most away


#### Few sales ###
Seems like for some data there is few sales, 
we must be able to skip these or at least to 

### Restacking of data #### 
We need to pick out some time series for specific products.
What we see is that some of the series are very short

In [16]:
sales_train_df.groupby(['item_id']).size()

item_id
0           1
1           6
2           2
3           2
4           1
5           1
6           1
7           1
8           2
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27         42
28         86
29         14
         ...
22140     290
22141      48
22142      10
22143     647
22144     112
22145     286
22146      29
22147      63
22148       2
22149      35
22150      58
22151     283
22152      84
22153       9
22154      59
22155      75
22156       4
22157       4
22158       1
22159      14
22160      49
22161       1
22162     560
22163      71
22164     408
22165       2
22166     270
22167    1114
22168       6
22169       1
Length: 21807, dtype: int64

## Scoring ##  
How do we do the scoring ?   
We modify the ** sample_submission ** table.

## First attempt, take the latest sale and multiply with 30 !! ##  
### test id ordering ###  
The order of the rows in the submission is not logical. As a consequence we would have to pick the shop id and the item id from the test table in a for like loop.  
This for loop should then look up in tables that we produce and put in the right numbers.  
 
 Back to our simplest strategy, which would be to take the latest sale for a product in a shop.  
 If the product has not been sold, well, then likely it will be sold the next month either !
 
   ** as_index = False ** makes the grouped columns come out as ordinary colums
  
  ### Explanation of current query ###
  -  Sort by date block (month nr) and group by shop-item-month, and sum nr sold items per day. 
  -  Group the results by shop-item, and pick the last, a small trick is used here as we use the combination of sort-grouby-last to find the grouped row with largest date-block-nr
  - The results is a table with the latest data block when something was sold, and how much was sold then	, it is store in **last**  
    shop_id	item_id	date_block_num	item_cnt_day  
    0	0	30	1	31.0  
    1	0	31	1	11.0  
- Now we want to remove all rows which do not have 33 , and assign in to **last2**
- Then we should do an out join with thest test table, assign to **last3**  
- Replace the Nan with 0  
- Doing outer join, gave us too many actually, we are interested in only extra values from left, this is a **left join**

In [17]:
last = sales_train_df.groupby(['shop_id','item_id','date_block_num'], as_index=False).agg({"item_cnt_day": "sum"}).sort_values('date_block_num').groupby(['shop_id','item_id'], as_index=False).last()
last2=last[last['date_block_num'] == 33]
answer = pd.merge(test_df,last2,on=['shop_id','item_id'],how='left').fillna(0)[['ID','item_cnt_day']]
answer.columns =  ['ID','item_cnt_month']
answer.to_csv('csv_to_submit.csv', index = False)